{% if menu %}
	<ul id="nav-mobile" class="right hide-on-med-and-down">
	{% for item in menu %}
		<li class="{{item.classes | join(' ')}}">
			<a href="{{item.get_link}}">{{item.title}}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	{#This needs to be looped like the above. Create a WP Menu for each drop down#}
	<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li class="divider"></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
	<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    
	</ul>
	
	<ul class="side-nav" id="mobile-demo">
        {% for item in menu %}
		<li class="{{item.classes | join(' ')}}">
			<a href="{{item.get_link}}">{{item.title}}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
      </ul>
{% endif %}