<div class="row">
	<div class="col s12 m6">
		<div class="card small container white z-depth-4 center">
			<div class="card-image">
<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}

		<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p>{{post.get_preview}}</p>
		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src|letterbox(400, 400, '#FFFFFF')}}" alt="Image for {{post.title}}" />
		{% endif %}


	{% endblock %}
</article>
			</div>
		</div>
	</div>
</div>